/target
/Cargo.lock

# IDE
.idea/
.vs/
dotnet-sandbox/obj/
dotnet-sandbox/bin/
unity-sandbox/obj/
unity-sandbox/bin/
unity-sandbox/Temp/
unity-sandbox/*.csproj
unity-sandbox/*.csproj.user
unity-sandbox/*.sln
unity-sandbox/Library


unity-sandbox/Logs/
